header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    background-color: lightsteelblue;
}

header nav{
    display: flex;
   position: absolute;
   right: 20px;
   gap: 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
}